@charset "UTF-8";

@import url(variables.css);
@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: sans-serif;
  /* border: 1px solid; */
}

html,
body {
  width: 100%;
  height: 100%;
}

main{
  display: block;
  margin: 150px 0 0 0;
  background-color: var(--backgroundMain2);
  color: var(--colorText1);
  padding: 0px 0px 50px 0px;
}

hr {
  width: 80%;
  margin: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

h1{
  font-size: large;
  letter-spacing: 3px;
  padding: 10px;
}

h2 {
  padding: 10px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}

footer{
  display: block;
  width: 100%;
  min-height: 100px;
  background: var(--backgroundMain);
}
