html, body {
  display: flex;
  background-color: #8d2825;
  color: #fff;
  justify-content: center;
  align-items: center;
  /* place-content: center center; */
  flex-direction: column;
}

.logo_index{
  width: 80%;
}