@charset "UTF-8";

:root {
  --color1: #000;
  --color1hover: #333;
  --withe: #fff;
  --headerColor: #b3b7b7;
  --headerColor1: #7c7c7cbb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-family: sans-serif;
  /* border: 1px solid; */
}

html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #8d2825;
  color: #fff;
  align-items: center;
  flex-direction: column;
}

.center_div_index {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.logo_index {
  display: block;
  width: 80%;
  margin: auto;
  align-items: center;
}

hr {
  width: 80%;
}

a{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
}

nav a{
  display: block;
  background-color:#b64340;
  text-align: center;
  min-width: 200px;
  margin: 10px;
  padding: 15px;
}

.menu_int a {
  background-color:#b64340;
  display: inline-block;
}

.caja_list{
  display: block;
  width: 80%;
}

h2 {
  padding: 10px;
  text-align: center;
  font-size: large;
  letter-spacing: 3px;
}

.listino {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.listino li {
  padding: 10px;
  text-decoration: none;
  list-style: none;
}